<div id="wrapper">
  
  <div [class.loading]="(loading$ | async)" id="user-list" *ngIf="!(error$ | async); else error" >
    <div id="list">
      <h2>User List</h2>

      <ul *ngIf="(userDataList | async); else noItems">
        <li *ngFor="let user of userDataList | async"  (click)="deleteUser(user.id)">
          {{ user.fname }} - {{ user.lname }}
        </li>
      </ul>
      <ng-template #noItems>
        <ul>
          <li style="max-width:250px;margin:0 auto;">No users found.</li>
        </ul>
      </ng-template>
    </div>
  </div>

  <form (ngSubmit)="addUser()">
    <input type="text" [(ngModel)]="newUser.fname" placeholder="Enter First Name" name="userFname"/>
    <br />
    <input type="text" [(ngModel)]="newUser.lname" placeholder="Enter Last Name" name="userLname"/>
    <br />
    <input type="email" [(ngModel)]="newUser.email" placeholder="Enter Email" name="userEmail"/>
    <br />
    <input type="tel" [(ngModel)]="newUser.mobile" placeholder="Enter Mobile No" name="userMobile"/>
    <button type="submit" >+</button>
  </form>

  <ng-template #error>
    <h2>{{(error$ | async)?.message}}</h2>
  </ng-template>
</div>